<div class="figure"><img src="/assets/clock.png"></div>
<div class="content">
  
  <h1>Sign up!</h1>

  <div class="error">{{ error }}</div>
  
  <div class="form-line">
    <input type="text" placeholder="username" [(ngModel)]="username">
  </div>
  <div class="form-line">
    <input type="password" placeholder="password" [(ngModel)]="password">
  </div>
</div>
<div class="actions">

  <a routerLink="/login" class="button">Cancel</a>
  
  <button class="cta" [disabled]="disableButton" (click)="submitSignup()">Watch time</button>
</div>
